body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
     background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.logo{
    font-family: 'Permanent Marker', cursive;  
}
header{
    text-align: center;
    font-size: 60px;
    position: absolute;
    left: 40%;
    top: 5%;
}
.napis{
    font-family: 'Trispace', sans-serif;
}
.main{
    position: absolute;
    font-family: 'Trispace', sans-serif;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    left: 42%;
    top: 35%;
    font-size: 30px;
    width: auto;
    height: 280px;
    background: transparent;
    padding: 10px;
}
.login{
    padding: 10px;
}
.haslo{
    padding: 10px;
}
input{
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0px 0px 10px black;
    border: none;
}
.zaloguj > input{
    position: absolute;
    left: 28%;
    top: 74%;
    font-size: 30px;
    padding: 10px;
    background: transparent;
    box-shadow: 0px 0px 10px black;
    transition: 500ms;
}
.zaloguj > input:hover{
    background: rgba(255, 255, 255, 0.568);
    border: 1px solid black;
}
.main > form > .register{
    font-size: 15px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 250ms;
}
a:hover{
    color: white;
}